extends layouts/mainLayout.pug

block pageTitle
    title Carrito

block content
    h1 Carrito
    if cartProducts.length > 0
        div.row.tm-gallery
            div.tm-gallery-page
                each i in cartProducts
                    article.col-lg-3.col-md-4.col-sm-6.col-12.tm-gallery-item
                        figure
                            img.img-fluid.tm-gallery-img(src=i.img, alt="img")
                            figcaption
                                h4.tm-gallery-title #{i.title}
                                p.tm-gallery-description #{i.description}
                                p.tm-gallery-price $ #{i.price}
                                p.tm-gallery-price Cantidad: #{i.cartItem.quantity}
                                form(action="/delete-fromCart" method="POST") 
                                    button.productCardBtn(type="submit") Eliminar del carrito
                                    input(type="hidden" name="productId" value=i.id)
        form(action="/comprar" method="POST") 
            button.productCardBtn(type="submit") Terminar la compra

    else
        section 
            h3 El carrito está vacío
            a(href="/") Ver productos   
