extends layouts/mainLayout.pug

block pageTitle
    title Editar un producto
block content
        h1 Editar el producto # #{platilloEncontrado.id}
        section
            form(action="/admin/edit-product", method="POST", name="newProduct")
                div.inputCtn
                    label(for="title") Nombre: 
                    input(type="text", value=platilloEncontrado.title, name="title")
                div.inputCtn
                    label(for="description") Descripción: 
                    textarea(type="text", placeholder=platilloEncontrado.description, value=platilloEncontrado.description, name="description", rows="10")
                div.inputCtn
                    label(for="price") Precio:
                    input(type="number", value=platilloEncontrado.price, name="price")
                div.inputCtn
                    label(for="img") Foto: 
                    img(src=platilloEncontrado.img)
                    input(type="text", value=platilloEncontrado.img, name="img")
                div.inputCtn                  
                    label(for="tag") Clasificación:
                    input(type="text", value=platilloEncontrado.tag, name="tag")
                
                input(type="hidden", value=platilloEncontrado.id, name="input_platilloId")

                button(type="submit") Editar producto