<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (prods.length> 0) { %>
                    <div class="grid">
                        <% for (let product of prods) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__direccion">
                                        <%= product.direccion %> </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">a pagar: $ <%= product.price %></h2>
                                    <h4 class="product__description">Esta factura vence el dia: <%=product.fechadevencimiento %></h4>
                                    <h4 class="product__empresa">Empresa: <%= product.empresa %></h4>
                                    <p class="product__description"> <%= product.description %> </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/products/<%= product.id %>" class="btn">Detalle</a>
                                <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                            </div>
                        </article>
                    <% } %>
                </div>
            <% } else { %>
                <h1>No hay facturas!</h1>
            <% } %>
        </main>
    <%- include('../includes/end.ejs') %>