<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>

            <h1>Mis productos</h1>
            <h3>lista de productos...</h3>
            

        <ul>
            <li><a href="/"class="btn btn-outline">Tienda</a></li>
            <li><a href="admin/product"class="btn btn-outline">Productos</a></li>
            
        </ul>

        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img class="imagen" src="<%= product.imageUrl %>"
                            alt= "<%= product.title %>">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$ <%= product.price %></h2>
                            <p class="product__description"><%= product.description %></p>
                        </div>
                        <div class="card__actions">
                            <a href="/products/ <%= product.id %> " class="btn"> detalles </a>
                            <form action="/add-to-cart" method="POST">
                            <button class="btn">averiguar mas</button>
                            </form>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>no lo encuentra!!</h1>
        <% } %>
    </main>
    <img src="https://st1.uvnimg.com/dims4/default/cda1954/2147483647/thumbnail/1240x698/quality/75/?url=https%3A%2F%2Fuvn-brightspot.s3.amazonaws.com%2Fassets%2Fvixes%2Fbtg%2Fcuriosidades.batanga.com%2Ffiles%2FBiologia-Animal-el-ojo-de-los-gatos-1.jpg">
<%- include('../includes/end.ejs') %>