<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

   <main>
       <% if (product.length > 0) { %>
            <ul>
                <% product.forEach( p => { %> 
                    <li>
                        <article class="card product-item">
                            <header class="card__header">
                                <h1 class="product__title"><%= p.title %></h1>
                            </header>
                            <div class="card__image">
                                <img src="<%= product.imageUrl %>"
                                    alt="<%= product.title %>">
                            </div>
                            <div class="card__content">
                                <h2 class="product__price">$<%= p.price %></h2>
                                <p class="product__description"><%= p.description %></p>
                                <p>Cantidad: <%= p.cartItem.qty %></p>
                                <% if (edit == false) { %>
                                    <form action="/edit-qty/<%= product.id %>?edit=true" method="post">
                                        <input type="hidden" name="productId" value="<%= product.id %>">
                                        <button class="btn" type="submit">Editar</button>
                                    </form>
                                <% } %>
                                
                                <% if (edit == true) { %>
                                    <form action="/edited-qty" method="post">
                                        <input type="hidden" name="productId" value="<%= p.id %>">
                                        <input type="number" value=<%= p.cartItem.qty %>>
                                        <button class="btn" type="submit">Editar listo</button>
                                    </form>
                                <% } %>
                            </div>
                            <div class="card__actions">
                                <form action="/delete-cart-product" method="post">
                                    <input type="hidden" name="productId" value="<%= p.id %>">
                                    <button class="btn" type="submit">Eliminar</button>
                                </form>
                            </div>
                        </article>
                    </li>
                <% }) %>
            </ul>
        <% } %>
   </main>

   <%- include('../includes/end.ejs') %>