<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/shop.css">
    </head>

    <body class="imagenbackground">
        <%- include('../includes/navigation.ejs') %>
        <main class="centered transparente">
            <h1>
                 <%- product.title %></h1>
            
                 <br>
            
            <img class="imagen-detalle" src="<%- product.imageUrl %>" alt="<%- product.title %>"/>
            <h2>Precio: <%- product.price %></h2>
            <p>Descripcion: <%- product.description %></p>
            
            <form action="/shop/product-details/<%- product.id %>?edit)true" method="get">
                <input type="hidden" value="<%- product.id %>" name="productId" id="productId"/>
                <button class="btn" type="submit">editar</button>
            </form>
            
            <form action="/admin/delete-product" method="post">
                <input type="hidden" value="<%- product.id %>" name="productId" id="productId"/>
                <button class="btn" type="submit">Borrar elemento</button>
            </form>
                 
        </main>
        
<%- include('../includes/end.ejs') %>